<p style="box-shadow: 2px 2px 8px rgb(226, 226, 245);">
  <mat-toolbar>
    
    <span>
      <img style="border-radius: 10px;" src="assets/images/download.jpg" width="50" alt="Product Icon">
    </span>

    <span style="margin-left: 10px;"> Online Shopping Port </span>
    
    <span class="example-spacer"></span>
    
    <!-- <button mat-icon-button class="example-icon">
      <mat-icon matBadge="15" matBadgeColor="warn">notifications</mat-icon>
    </button> -->
  </mat-toolbar>
</p>

<div class="row">
  <div class="col-9 left-column">

    <h4 style="margin-left:8px"> All Products</h4>
  
    <app-product-list (cart)="sendCart($event)"></app-product-list>
  </div>
  
  <div class="col-3">
    <h3 class="text-center">Cart</h3>
    <app-cart-products [cartList]="cartArray"></app-cart-products>
  </div>
</div>